<form>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell" style="align-items:center">
        <label for="email-login">Employee email:</label>
        <input class="form-input" type="text" id="email-login" value="staff1@hotmail.com" />
      </div>
      <div class="cell ">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" value="password12345" />
      </div>
      <div class="cell  ">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </div>
  </div>
</form>


<script src="/js/portal/login.js"></script>