   <!-- background img -->
    <div >
        <img id="backgroundImg" src="/images/pets.png" alt="domestic pets" width="100%" height="auto">
    </div>

    <!-- about us  -->
    <div id="aboutUs" class="grid-x grid-padding-x align-center">
        <h3 class="h3">About Us</h3>
        <p>We are dedicated to finding suitable homes for the furry friends in our care. It's also our job to ensure you find a new best friend who will fit perfectly into your lifestyle. We would love to meet you if you're interested in meeting one of our pets and encourage you to book an appointment!</p>
    </div>
    <!-- Available friends  -->
    <div id="availableFriends">
        <div class="grid-x grid-padding-x align-center">
            <h3 class="h3">Available Friends</h3>
        </div>
        <div class="grid-x grid-padding-x" id="friendCards">
            <div class="card cell" style="width: 185px;">
                <div class="card-divider" style="width: auto;">
                    <p class="h4">Friend A</p>
                </div>
                <img id="cardImg" src="images/Puppy-As-A-Pet.jpg">
                <!-- <div class="card-section">
                </div> -->
            </div>
            <div class="card cell" style="width: 185px;">
                <div class="card-divider" style="width: auto;">
                    <p class="h4">Friend B</p>
                </div>
                <img id="cardImg" src="">
            </div>
            <div class="card cell" style="width: 185px;">
                <div class="card-divider" style="width: auto;">
                    <p class="h4">Friend C</p>
                </div>
                <img id="cardImg" src="">
            </div>
            <div class="card cell" style="width: 185px;">
                <div class="card-divider" style="width: auto;">
                    <p class="h4">Friend D</p>
                </div>
                <img id="cardImg" src="">
            </div>
            <div class="card cell" style="width: 185px;">
                <div class="card-divider" style="width: auto;">
                    <p class="h4">Friend E</p>
                </div>
                <img id="cardImg" src="">
            </div>
        </div>
    </div>

    <!-- Previous adopter -->
    <div class="grid-x grid-padding-x align-center">
        <h3 class="h3">Previous Adopter</h3>
    </div>
    <div class="grid-x grid-padding-x">
        {{#each data.pets}}
        <div class="card cell" style="width: 185px;">
            <div class="card-divider" style="width: auto;">
                <p>Adopter {{this.name}}</p>
            </div>
            <img id="cardImg" src="">
        </div>
        {{/each}}
        <div class="card cell" style="width: 185px;">
            <div class="card-divider" style="width: auto;">
                <p class="h4">Adopter B</p>
            </div>
            <img id="cardImg" src="">
        </div>
        <div class="card cell" style="width: 185px;">
            <div class="card-divider" style="width: auto;">
                <p class="h4">Adopter C</p>
            </div>
            <img id="cardImg" src="">
        </div>
        <div class="card cell" style="width: 185px;">
            <div class="card-divider" style="width: auto;">
                <p class="h4">Adopter D</p>
            </div>
            <img id="cardImg" src="">
        </div>
        <div class="card cell" style="width: 185px;">
            <div class="card-divider" style="width: auto;">
                <p class="h4">Adopter E</p>
            </div>
            <img id="cardImg" src="">
        </div>
    </div>