<form id="login-form">
  <div class="grid-container" id="userLogin">
    <div class="grid-x">
      <div class="cell" >
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="cell" style="align-items:center">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="cell" style="align-items:center">
        <button class="button" type="submit">Login</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/login.js"></script>