<form id="signup-form">
  <div class="grid-container" id="userSignup">
    <div class="grid-x">
      <div class="cell" >
        <label for="email-signup">Email:</label>
        <input class="form-input" type="email" id="email-signup" />
      </div>
      <div class="cell" style="align-items:center">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="cell" style="align-items:center">
        <label for="firstName-signup">First name:</label>
        <input class="form-input" type="text" id="firstName-signup" />
      </div>
      <div class="cell" style="align-items:center">
        <label for="lastName-signup">Last name:</label>
        <input class="form-input" type="text" id="lastName-signup" />
      </div>
      <div class="cell" style="align-items:center">
        <label for="gender-signup">Gender:</label>
        <select id="gender-signup" name="gender-signup">
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="other">Other</option>
          <option value="none" selected>None</option>
        </select>
      <div class="cell" style="align-items:center">
        <label for="telephone-signup">Phone:</label>
        <input class="form-input" type="tel" id="telephone-signup" />
      <div class="cell" style="align-items:center">
        <button class="button" type="submit">Sign up</button>
      </div>
      </div>
    </div>
  </div>
</form>

<script src="/js/signup.js"></script>